# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# AWS SAM and Python
.aws-sam/
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
cf-config*.json
cf-etag.txt
